<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/style.css"> 
        <link rel="icon" href="./img/weather.jpg">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="./img/Captureing.PNG">
            <p>created for help</p>
        </div>
        {{>footer}}
    </body>
</html>