<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/style.css"> 
        <link rel="icon" href="./img/weather.jpg">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <img src="./img/Captureing.PNG">
            <p>created for help</p> --}}
            <h3>mail to:</h3>
        <h1>achyut.rymec@gmail.com</h1>
        </div>
        {{>footer}}
    </body>
</html>


